/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/inter-v2-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/inter-v2-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    color: black;
}

.wrapper{
    max-width: 1300px;
    margin-left: 33px;
    margin-right: px;
}

/* header start */

.header{
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #000000;
    z-index: 999999;
}

.header__wrapper{
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 27px 48px;
    background: #000000;
}

.header__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__item{
    margin-right: 100px;
    font-size: 75%;
}

.header__item:last-child{
    margin-right: 0px;
}

.header__link{
    font-size: 83%;
    line-height: 22px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
}

.header__link:hover, .header__link:focus, .header__link:active{
    color: #40ff00;
}
/* header end */

/* intro start */

.intro{
    max-width: 100%;
    height: 1080px;
    background: url(../img/cover6.jpg) no-repeat;
    background-position: center;
    background:cover;
    padding-top: 150px;
}

.intro__title{
    font-style: normal;
    font-weight: bold;
    font-size: 600%;
    line-height: 100%;
    /* identical to box height, or 144px */
    text-transform: uppercase;
    color: #FFFFFF;
}


.intro__subtitle{
    position: absolute;
    height: 58px;
    left: 48px;
    top: 918px;

    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}
/* intro end */

/* Що таке флорбол? start */
.what__is__floorball{
    position: relative;
    height: 1080px;  
}

.floorball__about{
    position: absolute;
    width: 857px;
    height: 240px;
    left: 48px;
    top: 430px;
    
    /* alfa/inter */
    
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    /* or 125% */
    
    
    color: #000000;
}

.ball__about{
    position: absolute;
    width: 500px;
    height: 497.71px;
    left: 1202.15px;
    top: 313px;
}

/* Що таке флорбол? end */


/* Що таке альфа? start */

.what__is__alfa{
    position: relative;
    height: 1080px;
}

.alfa__about{
    position: absolute;
    width: 857px;
    height: 240px;
    left: 48px;
    top: 430px;
    /* alfa/inter */
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    /* or 125% */
    color: #000000;
}

.link__external{
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    /* or 125% */
    color: #00ff15;
    text-decoration: none;
}

.link__external:hover, .header__link:focus, .header__link:active{
    text-decoration: underline;
}

.alfa__about__img{
    position: absolute;
    width: 623px;
    height: 623px;
    left: 1164px;
    top: 239px;    
}

/* Що таке альфа? end */

/* Наші цінності start */

.our__values{
    position: relative;
    height: 1080px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    /* or 125% */
    
    
    color: #000000;
}

.value__one{
    position: absolute;
    width: 836px;
    height: 120px;
    left: 665px;
    top: 171px;
}

.value__two{
    position: absolute;
    width: 848px;
    height: 120px;
    left: 668px;
    top: 485px;
}

.value__three{
    position: absolute;
    width: 841px;
    height: 120px;
    left: 668px;
    top: 809px;
}

.heart__image{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 364px;
    top: 171px;
}

.raised__hands__image{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 364px;
    top: 472px;
}

.arm__image{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 364px;
    top: 809px;
}

/* Наші цінності end */

/*Тренери start*/
.coaches{
    height: 1080px;
    position: relative;
}

.ferents__title{
    position: absolute;
    width: 206px;
    height: 58px;
    left: 664px;
    top: 248px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #000000;
}

.fenents__subtitle{
    position: absolute;
    width: 430px;
    height: 44px;
    left: 664px;
    top: 315px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    
    color: #000000;    
}

.michaylo__title{
    position: absolute;
    width: 258px;
    height: 58px;
    left: 1430px;
    top: 494px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #000000;
    
}

.michaylo__subtitle{
    position: absolute;
    width: 287px;
    height: 44px;
    left: 1430px;
    top: 561px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    
    color: #000000;
}

.rost__title{
    position: absolute;
    width: 311px;
    height: 58px;
    left: 664px;
    top: 724px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #000000;
    
}

.rost__subtitle{
    position: absolute;
    width: 305px;
    height: 44px;
    left: 664px;
    top: 791px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    
    color: #000000;
}

.ferents__image{
    position: absolute;
    width: 284px;
    height: 284px;
    left: 358px;
    top: 162px;
}

.mihaylo__image{
    position: absolute;
    width: 282px;
    height: 282px;
    left: 1128px;
    top: 409px;
}

.rost__image{
    position: absolute;
    width: 284px;
    height: 284px;
    left: 358px;
    top: 638px;
}

/* Тренери end*/

/*Наша команда start*/

.our__team{
    position: relative;
    width: 1824;
    padding-top: 100px;
}

.team__members{
    display: grid;
    grid-template-columns: repeat(4, 441px);
    grid-template-rows: repeat(4, 441px);
    grid-column-gap: 20px;
    padding-left: 48px;
    padding-right: 48px;
}

.team__member{
    grid-column: span 1;
}

.team__title{    
    padding-top: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
    color: #000000;
}

.team__subtitle{
    padding-top: 3px;
    padding-bottom: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

/*Наша команда end*/

/*footer start*/

.footer{
    position: relative;
    height: 1080px;
    width: 1824px;
}

.num{
    position: absolute;
    width: 376px;
    height: 58px;
    left: 772px;
    top: 245px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: #000000;
}

.mail{
    position: absolute;
    width: 329px;
    height: 58px;
    left: 795px;
    top: 323px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    /* identical to box height */
    color: #000000;
}

.footer__links{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.calendar__footer{
    position: absolute;
    width: 185px;
    height: 29px;
    left: 867px;
    top: 829px;
}

.doc__footer{
    position: absolute;
    width: 297px;
    height: 29px;
    left: 811px;
    top: 878px;
}

.federation__footer{
    position: absolute;
    width: 247px;
    height: 29px;
    left: 836px;
    top: 927px;
}

.license__footer{
    position: absolute;
    width: 160px;
    height: 29px;
    left: 879.5px;
    top: 976px;
}

.tg{
    position: absolute;
    width: 77.92px;
    height: 77.92px;
    left: 768px;
    top: 500.69px;
}

.inst{
    position: absolute;
    width: 92.28px;
    height: 93.19px;
    left: 857.96px;
    top: 493px;    
}

.tiktok{
    position: absolute;
    width: 86.52px;
    height: 88.54px;
    left: 962.28px;
    top: 494.11px;    
}

.fb{
    position: absolute;
    width: 93.6px;
    height: 93.6px;
    left: 1057.4px;
    top: 493.1px;
}


/*footer end*/